:root {
    --primary-color: whitesmoke;
    --secondary-color: #74B386;
    --dark-grey-light: #516256;
}

@import url('https://fonts.googleapis.com/css?family=Open+Sans&display=swap');

body,
head,
html {
    background: #222222;
    color: var(--primary-color);
    font-family: 'Open Sans', sans-serif;
}

h1,
a {
    color: var(--primary-color);
}

a:hover {
    color: var(--secondary-color);
}

h1 {
    text-align: center;
    text-decoration: underline;
    margin: auto;
    width: 100%;
}

#social-links {
    display: flex;
    align-content: center;
    align-self: center;
    justify-content: center;
    padding: 1em;
}

.Post {
    width: auto;
    margin: auto;
}

.Post img {
    margin: auto;
    max-width: 100%;
}

.Post input[type=text] {
    max-width: 100%;
    margin: auto;
    padding: none;
    padding-top: 0.3em;
    padding-bottom: 0.3em;
    border: none;
    resize: none;
    box-sizing: border-box;
    border-radius: 1px;
    color: var(--primary-color);
    background: var(--dark-grey-light);
    width: 20%;
    transition: width 0.4s;
    box-shadow: none;
    font-size: 1em;
    padding-left: 5px;
}

.Post input[type=text]:focus {
    width: 100%;
    /*box-shadow: 0px 1px 0.3em 2px #000000 inset;*/
    /*color: var(--secondary-color);*/
}

.FilterList {
    height: 10em;
    margin: auto;
    width: auto;

    padding: 0;
    overflow: hidden;
    overflow-y: scroll;
    list-style: none inside;
    border: 2px solid var(--dark-grey-light);
    border-radius: 0.3em;
    border-top-left-radius: 0px;
    border-top-right-radius: 0px;
    /*border-bottom-left-radius: 0px;*/
}

/*  Desktop */
@media only screen and (min-width: 992px) {
    /* constrain width on desktop */
    .Post {
        width: 66%;
    }
}

.ImageLink {
    max-width: 3em;
    min-width: 3em;
    max-height: 3em;
    min-height: 3em;
    margin: auto 1em;
    /* padding: 0 1em; */
    background-size: cover;
    background-repeat: no-repeat;
    background-position: 50% 50%;
}

.ImageLink:hover {
    background: #f2f2f222;
    border-radius: 3.2px;
}

table {
    border-collapse: collapse;
    display: block;
    width: 100%;
    margin: 0 auto;
    font-size: 1em;
}

table th:first-child{
  border-radius:0px 0 0 0px;
}

table th:last-child{
  border-radius:0 3.2px 0px 0;
}

th {
    background-color: var(--dark-grey-light);
    color: var(--primary-color);

}

th,
td {
    padding: .5em;
    border-bottom: 1px solid var(--secondary-color);
    text-align: left;
}

